.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Lato', sans-serif;
  color: #888;
  margin: 0;
}

.nav-bar {
  margin: 5%
}

.nav-link {
  margin: 5%
}

.category-link {
  padding: 2%;
}


.snippet {
  display: -webkit-box;
  max-width: 250px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-right: 0;
  text-align: left;
}

.card {
  display:inline-block;
  margin: 10px;
}

.comment-card {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 4px;

}

.navbar-text {
  color: #282c34;
}

.comment-box {
  width: 90vw;
  margin-top: 5px;
  
}

.add-comment-label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-button {
  margin-bottom: 40px;
}

.posted-message {
  margin-top: 20px;
}

.created-at {
  margin: 0
}

.votes-comments-text {
  margin: 0;
  margin-bottom: 10px;
}

.author-text {
  margin: 0
}

.error-page {
  font-size: larger;
}

*{
  transition: all 0.6s;
}

html {
  height: 100%;
}

body{
  font-family: 'Lato', sans-serif;
  color: #888;
  margin: 0;
}

#main{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}